body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  text-decoration: none;
}
.nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
span {
  color: #2e2f42;
}
.nav-punkt-st {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-punkt-st:hover {
  color: #404bbf;
}
.nav-punkt-st:focus {
  color: #404bbf;
}
.adress-styl {
  font-style: normal;
}
.adress-email {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.adress-email:hover {
  color: #404bbf;
}
.adress-email:focus {
  color: #404bbf;
}
.main-styl {
  background-color: #2e2f42;
}
.h1-styl {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
